<body>
  <div id="protein-atlas-displayer" class="${expressionType.clazz}">

  <h3 class="goog">Protein Atlas Tissue Expression</h3>

    <div class="sidebar">
    	<div class="collection-of-collections">
    	  <div class="header">
  	    <div class="switchers">
  	      <a href="#" title="key" class="active">Key</a> <a href="#" title="halp">Help</a>
  	    </div>
  	  </div>

  	  <div class="pane key">

  	    <div class="legend">
  	      <strong>Level of antibody staining</strong>*
  	      <ul class="level">
  	        <li><span class="expression High"></span> High</li>
  	        <li><span class="Medium expression "></span> Medium</li>
  	        <li><span class="Low expression"></span> Low</li>
  	        <li><span class="Not detected expression"></span> None</li>
  	      </ul>
  	    </div>
  	  </div>

  	  <div class="pane halp" style="display:none;">
  	      <p class="small">* A validation score for immunohistochemistry is assigned for all antibodies and reflects the results of immunostaining.</p>

  	      <strong>About &amp; Source</strong>
  	      <p class="small">This chart represents a normal tissue &amp; organ summary of the antibody staining or the protein expression in a number of
  	      human tissues and organs. A description of the assay and annotation can be found <a target="new" href="http://www.proteinatlas.org/about/assays+annotation#ih">here</a>.</p>
  	  </div>
      </div>
    </div>

    <div class="table byOrgan active">
    </div>

    <div style="clear:both;"></div>

</body>
