@import '_loader';
@import '_clearfix';

body {
  font-family : arial, sans-serif;
}
.protein-atlas-displayer {
   table { float:left; border-spacing:0; border-collapse:collapse; }
   table td,  table th { padding:2px 10px 2px 4px; }
   table th { font-size:11px; }
   table th.sortable { padding-left:8px; cursor:pointer; }
   tr.alt td { background:#F6FCFE; border-top:1px solid #E6F7FE; border-bottom:1px solid #E6F7FE; }

   table div.expressions { border:1px solid #000; border-right:0; display:inline-block; }
   table div.expression { display:inline-block; cursor:pointer; float:left; }
   table div.expression span.tissue { display:none; }
   table div.expression span.tooltip { z-index:5; background:#FFF; border:1px solid #CCC; whitespace:no-wrap; display:inline-block;
    position:absolute; font-size:11px; padding:1px 2px; -moz-box-shadow:1px 1px 2px #DDD; -webkit-box-shadow:1px 1px 2px #DDD; box-shadow:1px 1px 2px #DDD;
    line-height:15px; color:#000; }

  .staining .high, .staining .strong { background:#CD3A32; }
  .ape .high, .ape .strong { background:@certaintyColor; }

  .staining .medium, .staining .moderate { background:#FD9B34; }
  .ape .medium, .ape .moderate { background:#4B97CE; }

  .staining .weak, .staining .low { background:#FFED8D; }
  .ape .weak, .ape .low { background:#BFF1FF; }

   .none,  .negative { background:#FFF; }

   table span.level span.value { display:none; }

   div.sidebar { float:right; width:30%; }
   div.sidebar p strong.uncertain,
   div.sidebar p strong.low { background:#FFD92C; border:1px solid #DDD; }
   div.sidebar p strong.supportive,
   div.sidebar p strong.high,
   div.sidebar p strong.medium { background:#A9CC30; border:1px solid #DDD; }
   div.sidebar p.small { font-size:11px; margin-bottom:16px; }

   div.sidebar div.pane { padding:5px; }

   div.legend { margin-top:10px; }
   div.legend ul { margin:4px 0 0 0; }
   div.legend ul li span,  table span.level { display:inline-block; }

   div.graph ul.header li { display:inline; font-size:11px; }

   div.inactive { display:none; }

  /* resizing */
  .scale-9 table.graph td,
  .scale-8 table.graph td,
  .scale-7 table.graph td,
  .scale-6 table.graph td { padding:0 !important; }

  .scale-9 table.graph td span.name,
  .scale-8 table.graph td span.name,
  .scale-7 table.graph td span.name,
  .scale-6 table.graph td span.name { font-size:11px; }

  .scale-8 table.graph div.expression,
  .scale-7 table.graph div.expression,
  .scale-6 table.graph div.expression { width:11px; }

  .scale-7 div.sidebar { width:30%; }

  .scale-6 div.sidebar { width:20%; }

  @bgColor : #f0f0f0;
  @certaintyColor: #2B4A7B;
  @boxSize: 17px;

  .expression {
  width:@boxSize;
  height:@boxSize;
  display:block;
  float:left;
  border:solid 1px #ddd;
  margin: 1px;
  z-index:9;
  }

  .sidebar {
    background-color:@bgColor;
    .level {
      .cf;
        li {
        list-style-type:none;
        clear:left;
        float:left;
      }
    }
  }

  .table table {
    border-spacing:0;
    tr:nth-child(even) {background-color:@bgColor}
    td {margin:0;border-spacing:0;}
    width:69%;
  }

  .High {
    background-color:@certaintyColor;
    border-color:@certaintyColor;
  }
  .Medium {
    background-color:lighten(@certaintyColor, 25%);
    border-color:lighten(@certaintyColor, 25%);
  }

  .Low {
    background-color:lighten(@certaintyColor, 50%);
    border-color:lighten(@certaintyColor, 50%);
  }

  .Not.detected {
    background-color:lighten(@certaintyColor, 100%);
  }

  .tooltip {
    background-color:#fff;
    color:#000;
    padding:1em;
    border:solid 1px @bgColor;
    box-shadow:3px 3px 3px rgba(0,0,0,0.3);
    display:block;
    position:relative;
    width:320px;
    z-index:10;
  }
}
